<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>QnA</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
  <header>
    <div class="logo">
      QnA App
    </div>
    <div class="linx">
      <a href="{% url 'questions' %}">Questions</a>
    </div>
  </header>
  <div class="row">
    <div class="column">
      {% block content %}{% endblock content %}
    </div>
  </div>
</body>
</html>
