body {
  margin: 0;
}

header {
  height: 45px;
  background: #E0F2F1;
  margin: 0;
  padding: 8px;
  font-size: 24px;
}

header div.logo {
  display: inline-block;
  width: 200px;
}
ul.list-inline.linx {
  display: inline-block;
}
ul.list-inline li {
  display: inline-block;
  padding-right: 12px;
}
